.button {
    border-radius: .8em;
    border: 2px solid;
    display: inline-block;
    padding: .5em .75em;
}

.button:hover {
    color: #fff;
    background-color: #159957;
    font-size: 100em;
}
